<div class="col">
  <%= label_tag :campaign, t(:campaign), class:"form-label" %>
  <%= select_tag "[filter][campaign]", options_for_select(available_campaigns(current_user)),
                 prompt: t(:all_permitted), class: "form-control", id: "campaign_select" %>
</div>