<div class="col">
  <%= label_tag :call_date, 'Конечная дата:', class: "form-label" %>
  <%= text_field_tag "[filter][stop_date]", nil, class: "form-control",
                     data: { controller:  "flatpickr",
                             flatpickr_default_date: params[:filter][:stop_date]
                           } %>
</div>