<div class="col">
  <%= label_tag :operator, t(:operator), class: "form-label" %>
  <%= select_tag "[filter][operator]", options_for_select(available_operators),
                 prompt: t(:all_permitted), class: "form-control", id: "operator_select" %>
</div>