<div class="col">
  <%= label_tag :status, t(:status), class: "form-label" %>
  <%= select_tag "[filter][status]", options_for_select(available_statuses(current_user)),
                 prompt: t(:all_permitted), class: "form-control", id: "status_select" %>
</div>