<br>
<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-header">Редактирование пользователя "<%= @user.name %>"</h5>
      <div class="card-body">
        <%= render 'user_form' %>
      </div>
    </div>
  </div>
</div>