@import "bootstrap";
@font-face {
  font-family: "Opinion Pro";
}
$fontFamily: "Opinion Pro";
@import "partials/nullify";
@import "partials/responsive";
@import "login";

body {
  font-family: $fontFamily;
}