<main class="login-page">
  <div class="auth">
    <div class="auth__header auth-header">
      <%= image_tag "inservpro_logo.svg", class: "auth-header__logo", alt: "InServ Logo" %>
      <h1 class="auth-header__title">Система управления отчетами</h1>
    </div>
    <%= yield %>
  </div>
</main>